.table{
    position: relative;
    height: 271px;
    width: 446px;
}
.cell{
    position: absolute;
}
.cell,.table{
    border :1px solid;
    box-sizing: border-box;
}
.cell1{
    width: 180px;
    height: 45px;
    top: 1px;
    left: 1px;
    text-align: center;
    line-height: 45px;
    font-weight: 800;
}
.cell2{
    text-align: center;
    top: 1px;
    left: 182px;
    font-weight: 800;
}
.cell3{
    text-align: center;
    top: 1px;
    right: 1px;
    font-weight: 800;
}
.cell2,.cell3,.cell5,.cell6{
    line-height: 45px;
    width: 130px;
    height: 45px;
}
.cell4{
    width: 180px;
    height: 220px;
    background-color: rgb(173, 216, 230);
    left: 1px;
    bottom: 1px;
    padding: 10px;
}
.cell5{
    background-color: rgb(255, 255, 0);
    top:47px;
    left: 182px;
    text-align: right;
    padding-right: 3px;
}
.cell6{
    background-color: rgb( 255, 0, 0);
    top: 47px;
    right: 1px;
    text-align: center;
}
.cell7{
    width: 260px;
    height: 175px;
    background-color: rgb(0, 128, 0);
    bottom: 1px;
    right: 1px;
    padding: 10px;
}


